In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [4]:
type(engine)

In [5]:
#3Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.

connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query = '''SELECT
    f.title,
    MAX(f.release_year) AS max_release_year,
    f.language_id,
    f.rental_duration,
    f.rental_rate,
    f.length,
    f.rating,
    f.last_update,
    MAX(IF(MONTH(r.rental_date) = 5 AND YEAR(r.rental_date) = 2005, 1, 0)) AS rented_in_may
FROM
    film AS f
LEFT JOIN
    inventory AS i ON f.film_id = i.film_id
LEFT JOIN
    rental AS r ON i.inventory_id = r.inventory_id
GROUP BY
    f.title, f.language_id, f.rental_duration, f.rental_rate, f.length, f.rating, f.last_update;'''
data = pd.read_sql_query(query, engine)
data.head(1000)

,title,max_release_year,language_id,rental_duration,rental_rate,length,rating,last_update,rented_in_may
0,ACADEMY DINOSAUR,2006,1,6,0.99,86,PG,2006-02-15 05:03:42,1
1,ACE GOLDFINGER,2006,1,3,4.99,48,G,2006-02-15 05:03:42,0
2,ADAPTATION HOLES,2006,1,7,2.99,50,NC-17,2006-02-15 05:03:42,1
3,AFFAIR PREJUDICE,2006,1,5,2.99,117,G,2006-02-15 05:03:42,1
4,AFRICAN EGG,2006,1,6,2.99,130,G,2006-02-15 05:03:42,1
...,...,...,...,...,...,...,...,...,...
995,YOUNG LANGUAGE,2006,1,6,0.99,183,G,2006-02-15 05:03:42,0
996,YOUTH KICK,2006,1,4,0.99,179,NC-17,2006-02-15 05:03:42,0
997,ZHIVAGO CORE,2006,1,6,0.99,105,NC-17,2006-02-15 05:03:42,1
998,ZOOLANDER FICTION,2006,1,5,2.99,101,R,2006-02-15 05:03:42,1
999,ZORRO ARK,2006,1,3,4.99,50,NC-17,2006-02-15 05:03:42,1

In [6]:
data.isna().sum()

title               0
max_release_year    0
language_id         0
rental_duration     0
rental_rate         0
length              0
rating              0
last_update         0
rented_in_may       0
dtype: int64

In [8]:
data['amount'] = data['amount'].fillna(3.99)

In [9]:
data.isna().sum()

title               0
max_release_year    0
language_id         0
rental_duration     0
rental_rate         0
length              0
rating              0
last_update         0
rented_in_may       0
dtype: int64

In [10]:
data.dtypes

title                       object
max_release_year             int64
language_id                  int64
rental_duration              int64
rental_rate                float64
length                       int64
rating                      object
last_update         datetime64[ns]
rented_in_may                int64
dtype: object

In [ ]:
#4Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [11]:
# import numpy as np
# from sklearn.preprocessing import MinMaxScaler
# # from sklearn.preprocessing import StandardScaler

# X_train_num = X_train.select_dtypes(include = np.number)
# X_train_num

# # Scaling data
# transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
# X_train_normalized = transformer.transform(X_train_num)
# X_train_norm = pd.DataFrame(X_train_normalized, columns=X_num.columns)
# X_train_norm.head()

NameError: name 'X_train' is not defined

In [ ]:
#5Create a logistic regression model to predict 'rented_in_may' from the cleaned data.
#Evaluate the results.